<ion-content>
  <swiper-container speed="200" pagination="true">
    <swiper-slide><img src="http://dummy-images.com/abstract/dummy-683x1024-Stripes.jpg" alt=""></swiper-slide>
    <swiper-slide><img src="http://dummy-images.com/business/dummy-683x1024-Tax.jpg" alt=""></swiper-slide>
   <swiper-slide><img src="http://dummy-images.com/maps/dummy-683x1024-Antarctica1912.jpg" alt=""></swiper-slide>
  </swiper-container>
  <ion-button (click)="goHome()">Saltar Tutorial</ion-button>

</ion-content>




